<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700;900&display=swap&subset=vietnamese" rel="stylesheet">

  <title>Thông tin cá nhân | VinCar</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

  <link rel="stylesheet" href="/static/css/style.css">

  <link rel="icon" type="image/png" href="/static/images/rsz_logo-icon-vinfast.png">
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header ***** -->
  <div th:replace="~{fragments/common-fragments :: header}"></div>

  <!-- ***** Main Content ***** -->
  <section class="section section-bg" id="call-to-action" style="background-image: url(/static/images/banner-image-1-1920x500.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="cta-content">
            <br>
            <br>
            <h2>Thông tin <em>cá nhân</em></h2>
            <p>Quản lý thông tin tài khoản của bạn</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ***** Profile Content ***** -->
  <section class="section" id="our-classes">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4 class="mb-0">Thông tin cá nhân</h4>
            </div>
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-md-4 text-center">
                  <img src="/static/images/user-avatar.png" alt="Avatar" class="img-fluid rounded-circle mb-3" style="max-width: 150px;">
                  <h5 th:text="${user.name}" class="mb-0">Nguyễn Văn A</h5>
                  <p class="text-muted" th:if="${user.roles != null and !user.roles.isEmpty()}" th:text="${user.roles[0].name}">USER</p>
                </div>
                <div class="col-md-8">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label font-weight-bold">Họ và tên:</label>
                    <div class="col-sm-8">
                      <p class="form-control-plaintext" th:text="${user.name}">Nguyễn Văn A</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label font-weight-bold">Email:</label>
                    <div class="col-sm-8">
                      <p class="form-control-plaintext" th:text="${user.email}">example@gmail.com</p>
                    </div>
                  </div>
                  <div class="form-group row" th:if="${user.address}">
                    <label class="col-sm-4 col-form-label font-weight-bold">Địa chỉ:</label>
                    <div class="col-sm-8">
                      <p class="form-control-plaintext" th:text="${user.address}">Hà Nội</p>
                    </div>
                  </div>
                  <div class="form-group row" th:if="${user.phoneNumber}">
                    <label class="col-sm-4 col-form-label font-weight-bold">Số điện thoại:</label>
                    <div class="col-sm-8">
                      <p class="form-control-plaintext" th:text="${user.phoneNumber}">0123456789</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h5 class="mb-0">Quản lý tài khoản</h5>
                    </div>
                    <div class="card-body">
                      <div class="list-group">
                        <a th:href="@{/appointments/my-appointments}" class="list-group-item list-group-item-action">
                          <i class="fas fa-calendar-alt mr-2"></i> Lịch hẹn của tôi
                        </a>
                        <a th:href="@{/orders}" class="list-group-item list-group-item-action">
                          <i class="fas fa-shopping-bag mr-2"></i> Đơn hàng của tôi
                        </a>
                        <a th:href="@{/user/info/edit}" class="list-group-item list-group-item-action">
                          <i class="fas fa-user-edit mr-2"></i> Cập nhật thông tin cá nhân
                        </a>
<!--                        <a th:href="@{/user/change/password}" class="list-group-item list-group-item-action">-->
<!--                          <i class="fas fa-key mr-2"></i> Đổi mật khẩu-->
<!--                        </a>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ***** Footer ***** -->
  <div th:replace="~{fragments/common-fragments :: footer}"></div>

  <!-- Scripts -->
  <div th:replace="~{fragments/common-fragments :: scripts}"></div>

</body>

</html> 