
<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700;900&display=swap&subset=vietnamese" rel="stylesheet">

  <title>Chi tiết xe | VinCar</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css"/>

  <link rel="stylesheet" href="/static/css/style.css"/>

  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>

</head>

<div th:fragment="scripts" xmlns:th="http://www.thymeleaf.org">
  <script src="/static/js/jquery-2.1.0.min.js"></script>

  <script src="/static/js/popper.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

  <script src="/static/js/scrollreveal.min.js"></script>
  <script src="/static/js/waypoints.min.js"></script>
  <script src="/static/js/jquery.counterup.min.js"></script>
  <script src="/static/js/imgfix.min.js"></script>
  <script src="/static/js/mixitup.js"></script>
  <script src="/static/js/accordions.js"></script>

  <script src="/static/js/custom.js"></script>
</div>

<div th:fragment="header" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a th:href="@{/}" class="logo"><em>v i n c a r</em></a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a th:href="@{/}">Trang chủ</a></li>
              <li><a th:href="@{/cars}" class="active">Xe</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Thêm</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="blog.html">Tin tức</a>
                  <a class="dropdown-item" href="faq.html">Hỏi-Đáp</a>
                  <a class="dropdown-item" href="terms.html">Terms</a>
                </div>
              </li>
              <li><a href="/contact">Liên hệ</a></li>

              <!-- Phần hiển thị khi chưa đăng nhập -->
              <th:block sec:authorize="!isAuthenticated()">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tài khoản</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/login}">Đăng nhập</a>
                    <a class="dropdown-item" th:href="@{/register}">Đăng ký</a>
                  </div>
                </li>
              </th:block>

              <!-- Phần hiển thị khi đã đăng nhập -->
              <th:block sec:authorize="isAuthenticated()">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span th:text="'Xin chào,' + ${#authentication.principal.name}"></span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/user}">Trang người dùng</a>
                    <a class="dropdown-item" th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                      <i class="fas fa-sign-out-alt mr-2"></i> Đăng xuất
                    </a>
                    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
                  </div>
                </li>
              </th:block>
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
<!--pagination-->
<th:block th:fragment="pagination">
  <ul class="pagination d-flex justify-content-between " th:classappend="${class}"
      th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
    <div class="d-flex">
      <li class="page-item disabled">
        <a class="page-link " href="#" tabindex="-1">Pages</a>
      </li>
      <th:block th:each="i : ${pagination}">
        <th:block th:if="${i - 1 == page.getNumber()}">
          <li class="page-item active">
            <a class="page-link bg-dark border-dark" href="#" th:text="${i}"></a>
          </li>
        </th:block>
        <th:block th:if="${i != -1 and i - 1 != page.getNumber()}">
          <li class="page-item">
            <a class="page-link text-dark"
               th:href="${urlBuilder.replaceQueryParam('page', (i - 1)).replaceQueryParam('size', page.getSize()).toUriString()}"
               th:text="${i}"></a>
          </li>
        </th:block>
        <th:block th:if="${i == -1}">
          <li class="page-item disabled">
            <a class="page-link text-dark" href="#">...</a>
          </li>
        </th:block>
      </th:block>
    </div>
    <div class="d-flex">
      <li class="page-item disabled ml-5">
        <a class="page-link text-dark" href="#" tabindex="-1">Items per page</a>
      </li>
      <th:block th:each="c : ${#numbers.sequence(12, 36, 12)}">
        <th:block th:if="${c} == ${page.getSize()}">
          <li class="page-item active">
            <a class="page-link bg-dark border-dark" href="#" th:text="${c}"></a>
          </li>
        </th:block>
        <th:block th:unless="${c} == ${page.getSize()}">
          <li class="page-item">
            <a class="page-link text-dark"
               th:href="${urlBuilder.replaceQueryParam('page', 0).replaceQueryParam('size', c).toUriString()}"
               th:text="${c}"></a>
          </li>
        </th:block>
      </th:block>
    </div>
  </ul>
</th:block>

<th:block th:fragment="alert-message">
  <div th:if="${messageType}" class="alert " th:classappend="${messageType}" th:text="${message}" role="alert"></div>
</th:block>