<!DOCTYPE html>
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Quản lý xe - Admin VinCar</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700;900&display=swap&subset=vietnamese" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->
<div th:replace="~{fragments/common-fragments :: header}"></div>
<div class="bg-light">
  <div class="py-5">
    <div class="container py-5 bg-white shadow-sm card-height">
      <div class="row mx-3">
        <div class="col-md-9 mb-5">
          <th:block th:replace="fragments/common-fragments :: info-title
          (text='Thêm xe mới', icon='fas fa-edit mr-2')"/>
          <form method="post" th:action="@{/admin/add/cars}" enctype="multipart/form-data">
            <div class="form row">
              <th:block th:replace="fragments/account-fragments :: add-product-input(
                                title='Tên xe',
                                name='carName',
                                placeholder='Nhập tên xe',
                                value=(${car} ? ${car.carName} : ''),
                                error=(${carNameError})
                            )"/>
              <th:block th:replace="fragments/account-fragments :: add-product-select(
                                title='Thương hiệu',
                                name='brand',
                                options=(${ {'Toyota', 'Honda', 'Ford', 'Hyundai', 'BMW', 'Mercedes', 'Vinfast'} }),
                                error=(${brandError})
                            )"/>
            </div>
            <div class="form row mt-3">
              <th:block th:replace="fragments/account-fragments :: add-product-input(
                                    title='Số KM đã đi',
                                    name='mileage',
                                    placeholder='Nhập số KM đã đi',
                                    value=(${car} ? ${car.mileage} : ''),
                                    error=(${mileageError})
                            )"/>
              <th:block th:replace="fragments/account-fragments :: add-product-input(
                                    title='Nhiên liệu',
                                    name='fuel',
                                    placeholder='Nhập nhiên liệu',
                                    value=(${car} ? ${car.fuel}: ''),
                                    error=(${fuelError})
                            )"/>
            </div>
            <div class="form row mt-3">
              <th:block th:replace="fragments/account-fragments :: add-product-select(
                                     title='Loại',
                                     name='type',
                                     options=(${ {'old', 'new'} }),
                                     error=(${typeError})
                            )"/>
              <th:block th:replace="fragments/account-fragments :: add-product-select(
                                    title='Cửa',
                                    name='doors',
                                    options=(${ {'2', '4', '6'} }),
                                    error=(${doorsError})
                            )"/>
            </div>
            <div class="form row mt-3">
              <th:block th:replace="fragments/account-fragments :: add-product-select(
                                     title='Hộp số',
                                     name='gearbox',
                                     options=(${ {'Tự động', 'Số sàn'} }),
                                     error=(${gearboxError})
                            )"/>
              <th:block th:replace="fragments/account-fragments :: add-product-input(
                                    title='Giá',
                                    name='price',
                                    placeholder='Nhập giá',
                                    value=(${car} ? ${car.price} : ''),
                                    error=(${priceError})
                            )"/>
              <th:block th:replace="fragments/account-fragments :: add-product-input(
                                    title='Mô tả',
                                    name='description',
                                    placeholder='Nhập mô tả',
                                    value=(${car} ? ${car.id.description} : ''),
                                    error=(${priceError})
                            )"/>
            </div>

            <div class="form row mt-3">
              <div class="col" style="margin-top: 35px">
                <input type="file" name="file"/>
              </div>
            </div>
            <th:block th:replace="fragments/common-fragments :: icon-button(
                            text='Thêm',
                            buttonClassName='mt-3',
                            icon='fas fa-plus-square mr-2'
                        )"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{fragments/common-fragments :: footer}"></div>
<div th:replace="~{fragments/common-fragments :: scripts}"></div>
</body>
</html>