<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700;900&display=swap&subset=vietnamese" rel="stylesheet">

    <title>Tin tức | VinCar</title>
	 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/style.css">
	  
	<link rel="icon" type="image/png" href="/static/images/rsz_logo-icon-vinfast.png">


    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <div th:replace="~{fragments/common-fragments :: header}"></div>
    <!-- ***** Header Area End ***** -->

    <section class="section section-bg" id="call-to-action" style="background-image: url(static/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br><br>
                        <h2><em>Tin tức</em></h2>
                        <p>Nơi cập nhật các thông tin mới nhất về sản phẩm và dịch vụ của VinCar</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-lg-8">
                    <section class="tabs-content">

                        <!-- Bài viết 1 -->
                        <article>
                            <img src="/static/images/blog-image-1-940x460.jpg" alt="">
                            <h4>VinFast VF e9 chính thức ra mắt – SUV điện đẳng cấp mới.</h4>
                            <p><i class="fa fa-user"></i> VinCar Team &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i> 18 bình luận</p>
                            <p>VinFast vừa ra mắt mẫu SUV điện cao cấp VF e9 với thiết kế sang trọng, nội thất rộng rãi và công nghệ tự lái cấp độ 3. Xe có tầm hoạt động lên đến 600km sau một lần sạc đầy, là lựa chọn lý tưởng cho những chuyến đi dài và trải nghiệm lái cao cấp.</p>
                            <div class="main-button">
                                <a href="/blog-details">Đọc Tiếp</a>
                            </div>
                        </article>

                        <br><br>

                        <!-- Bài viết 2 -->
                        <article>
                            <img src="/static/images/blog-image-2-940x460.jpg" alt="">
                            <h4>So sánh VF6 và VF7: Chọn mẫu xe điện nào cho gia đình bạn?</h4>
                            <p><i class="fa fa-user"></i> VinCar Team &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i> 10 bình luận</p>
                            <p>VF6 và VF7 là hai mẫu xe điện cỡ trung với thiết kế hiện đại và mức giá hợp lý. Bài viết này sẽ giúp bạn so sánh chi tiết về hiệu năng, công nghệ, không gian nội thất và mức tiêu thụ năng lượng để dễ dàng đưa ra quyết định phù hợp với nhu cầu sử dụng.</p>
                            <div class="main-button">
                                <a href="/blog-details">Đọc Tiếp</a>
                            </div>
                        </article>

                        <br><br>

                        <!-- Bài viết 3 -->
                        <article>
                            <img src="/static/images/blog-image-3-940x460.jpg" alt="">
                            <h4>5 lý do nên chọn ô tô điện VinCar trong năm 2025.</h4>
                            <p><i class="fa fa-user"></i> VinCar Team &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i> 22 bình luận</p>
                            <p>Không chỉ thân thiện với môi trường, xe điện VinCar còn mang đến trải nghiệm lái mượt mà, chi phí vận hành thấp, bảo hành vượt trội và mạng lưới trạm sạc phủ khắp cả nước. Đây là thời điểm lý tưởng để chuyển đổi sang phương tiện xanh và thông minh.</p>
                            <div class="main-button">
                                <a href="/blog-details">Đọc Tiếp</a>
                            </div>
                        </article>
                    </section>
                </div>

                <!-- Sidebar phải -->
                <div class="col-lg-4">
                    <h5 class="h5">Tìm kiếm</h5>
                    <div class="contact-form">
                        <form id="search_form" name="gs" method="GET" action="#">
                            <input type="text" name="q" class="searchText" placeholder="Nhập từ khóa..." autocomplete="on">
                        </form>
                    </div>

                    <h5 class="h5">Bài viết gần đây</h5>
                    <ul>
                        <li>
                            <p><a href="/blog-details">VinFast VF e9 chính thức ra mắt – SUV điện đẳng cấp mới.</a></p>
                            <small><i class="fa fa-user"></i> VinCar Team &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10</small>
                        </li>

                        <li><br></li>

                        <li>
                            <p><a href="/blog-details">So sánh VF6 và VF7: Chọn mẫu xe điện nào cho gia đình bạn?</a></p>
                            <small><i class="fa fa-user"></i> VinCar Team &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10</small>
                        </li>

                        <li><br></li>

                        <li>
                            <p><a href="/blog-details">5 lý do nên chọn ô tô điện VinCar trong năm 2025.</a></p>
                            <small><i class="fa fa-user"></i> VinCar Team &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                    <p>
                        Copyright © 2025 PTIT
                        
                    </p>
					<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/mixitup.js"></script> 
    <script src="/static/js/accordions.js"></script>
    
    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>

  </body>
</html>