<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700;900&display=swap&subset=vietnamese" rel="stylesheet">

    <title>Tin tức | VinCar</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/style.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <div th:replace="~{fragments/common-fragments :: header}"></div>
    <!-- ***** Header Area End ***** -->

    <section class="section section-bg" id="call-to-action" style="background-image: url(static/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Chi tiết <em>bài viết</em></h2>
                        <p>Nơi chia sẻ thông tin, tin tức và xu hướng mới nhất về xe và công nghệ ô tô</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br><br>
            <section class="tabs-content">
                <article>
                    <h4>Giới thiệu mẫu xe mới và xu hướng tương lai của ô tô điện</h4>

                    <p><i class="fa fa-user"></i> Nguyễn Văn A &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i> 15 bình luận</p>

                    <div><img src="/static/images/blog-image-fullscren-1-1920x700.jpg" alt=""></div>

                    <br>

                    <p>Sự phát triển của ngành công nghiệp ô tô điện đang mở ra nhiều cơ hội đổi mới. Những mẫu xe hiện đại không chỉ thân thiện với môi trường mà còn tích hợp nhiều công nghệ thông minh nhằm mang lại trải nghiệm tốt nhất cho người dùng.</p>

                    <p>Các hãng xe hiện nay đang tập trung vào thiết kế tối ưu, cải tiến pin để gia tăng quãng đường di chuyển cũng như hỗ trợ sạc nhanh. Hệ thống giải trí, trợ lý ảo và các tính năng hỗ trợ lái thông minh cũng được tích hợp ngày càng phổ biến.</p>

                    <p>Bên cạnh đó, yếu tố thẩm mỹ cũng được chú trọng với các đường nét hiện đại, không gian nội thất rộng rãi và tiện nghi. Người dùng không chỉ sở hữu một phương tiện đi lại, mà còn là một phần phong cách sống mới.</p>

                    <p>Chuyển đổi sang xe điện không còn là xu hướng mà đã trở thành lựa chọn thiết thực cho cuộc sống xanh và tiện lợi hơn. Các chính sách hỗ trợ từ nhà nước và cơ sở hạ tầng trạm sạc ngày càng hoàn thiện sẽ thúc đẩy xu hướng này mạnh mẽ hơn trong tương lai.</p>

                    <ul class="social-icons">
                        <li>Chia sẻ:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </article>
            </section>

            <br><br><br>

            <section class="tabs-content">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Bình luận</h4>
                        <ul class="features-items">
                            <li>
                                <div class="feature-item" style="margin-bottom:15px;">
                                    <div class="left-icon">
                                        <img src="/static/images/features-first-icon.png" alt="Người dùng 1">
                                    </div>
                                    <div class="right-content">
                                        <h4>Nguyễn Văn B <small>27.07.2020 10:10</small></h4>
                                        <p><em>"Bài viết rất hay, cung cấp nhiều thông tin hữu ích về xe điện!"</em></p>
                                    </div>
                                </div>

                                <div class="tabs-content">
                                    <div class="feature-item" style="margin-bottom:15px;">
                                        <div class="left-icon">
                                            <img src="/static/images/features-first-icon.png" alt="Người dùng 2">
                                        </div>
                                        <div class="right-content">
                                            <h4>Lê Thị C <small>27.07.2020 11:10</small></h4>
                                            <p><em>"Mình đang cân nhắc chuyển sang dùng xe điện, cảm ơn thông tin hữu ích."</em></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="feature-item" style="margin-bottom:15px;">
                                <div class="left-icon">
                                    <img src="/static/images/features-first-icon.png" alt="Người dùng 3">
                                </div>
                                <div class="right-content">
                                    <h4>Phạm Minh D <small>27.07.2020 12:10</small></h4>
                                    <p><em>"Hi vọng sớm được trải nghiệm mẫu xe mới của VinCar!"</em></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h4>Để lại bình luận</h4>

                        <div class="contact-form">
                            <form action="" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Họ và tên*" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email của bạn*" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder="Nội dung bình luận" required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Gửi bình luận</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                   <p>
                        Copyright © 2025 PTIT
                        
                    </p>
					<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/mixitup.js"></script> 
    <script src="/static/js/accordions.js"></script>
    
    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>

  </body>
</html>